# Dependencies
node_modules/

# Build
dist/
build/

# Coverage
coverage/
.nyc_output/

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Environment
.env
.env.*
!.env.example
!.env.docker.example

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json
!.vscode/launch.json

.idea/
.project
.classpath
.settings/
.c9/
*.launch
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Temp
.temp/
.tmp/

# Runtime
pids/
*.pid
*.pid.lock

# Diagnostic Reports
report.*.json

# Prisma
generated/prisma/